<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static('js/common.css') }}">
    <script src="{{ static('js/commons.js')}}"></script>
    <script src="{{ static('js/react.js')}}"></script>
</head>
<body>
<div id="content">

</div>
</body>
</html>